<section class="m-full-content">
  <div class="m-full-content__container">
    <img src="{{asset "images/members/premium-illustration.svg"}}" alt="{{t "Access all our content"}}"
      class="m-full-content__illustration">
    <div class="m-full-content__info">
      <h2 class="m-full-content__title">{{t "Sounds good doesn't it?"}}</h2>
      <p class="m-full-content__description">
        {{t "Subscribe and fill your world with beautiful content, access my best stuff and support me."}}
      </p>
      <div class="m-full-content__buttons">
        {{#if @member}}
          <a href="{{@site.url}}/account" class="m-button outlined no-fancy-animation">{{t "Account"}}</a>
          <a href="{{@site.url}}/signup" class="m-button filled">{{t "Subscribe now"}}</a>
        {{else}}
          <a href="{{@site.url}}/signin" class="m-button outlined no-fancy-animation">{{t "Sign in"}}</a>
          <a href="{{@site.url}}/signup" class="m-button filled">{{t "Sign up"}}</a>
        {{/if}}
      </div>
    </div>
  </div>
</section>
