<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Styles'n'Scripts --}}
  <style>
    /* This font-face is here to make icons work if the Ghost instance is installed in a subdirectory */
    @font-face {
      font-family: 'icomoon';
      src: url("{{asset 'fonts/icomoon.eot?j42gb1'}}");
      src: url("{{asset 'fonts/Telefon Black.woff'}}") format('woff');
      src: url("{{asset 'fonts/icomoon.eot?j42gb1#iefix'}}") format('embedded-opentype'),
      url("{{asset 'fonts/icomoon.ttf?j42gb1'}}") format('truetype'),
      url("{{asset 'fonts/icomoon.woff?j42gb1'}}") format('woff'),
      url("{{asset 'fonts/icomoon.svg?j42gb1#icomoon'}}") format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}" media="screen" />

  {{!-- This #block helper will pull data from the hero partial 
    to inject styles of the hero image to make it responsive --}}
  {{{block "herobackground"}}}

  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}

  {{!-- These variables are used to make the search form work --}}
  <script>
    const ghostHost = "{{@site.url}}"
    const membersLabel = "{{t "members"}}"
    const paidLabel = "{{t "paid"}}"
  </script>

  {{!-- This script loads the Google font asynchronously --}}
  <script>
    WebFontConfig = {
      google: { families: ['Playfair+Display:700', 'Roboto:400,500,700&display=swap'] }
    };
    (function (d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
    })(document);
  </script>
</head>

<body class="{{body_class}}">
  <symbol viewBox="0 0 451 590" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" id="brightwork">
  <title>Brightwork Icon</title>
    <path d="M202.336 0C126.499 0 50.862 33.991 4.946 88.717c-7.515 8.988-6.33 22.405 2.628 29.92 4.359 3.643 9.844 5.304 15.497 4.877 5.654-.498 10.77-3.165 14.404-7.505 38.062-45.368 101.237-73.546 164.861-73.546 113.37 0 205.61 92.239 205.61 205.61 0 54.924-21.389 106.564-60.228 145.402-8.272 8.272-8.272 21.739 0 30.021a21.099 21.099 0 0 0 15.01 6.22c5.682 0 11.019-2.209 15.009-6.22 46.863-46.852 72.672-109.152 72.672-175.423C450.409 111.282 339.127 0 202.336 0"></path>
    <path d="M331.085 128.371c-32.887-35.504-77.567-56.058-125.814-57.9-48.144-1.762-94.418 15.27-129.902 48.166-35.465 32.876-56 77.558-57.842 125.803-2.488 65.106 30.468 126.829 85.96 161.049a35.138 35.138 0 0 0 18.522 5.265c12.354 0 23.582-6.28 30.021-16.761 10.202-16.534 5.038-38.302-11.516-48.524-33.913-20.902-54.037-58.586-52.525-98.342 2.309-60.826 53.56-108.833 114.595-106.185 60.876 2.309 108.505 53.73 106.185 114.606-1.393 36.728-20.893 70.263-52.176 89.703-16.503 10.272-21.6 32.049-11.328 48.572 10.243 16.453 31.992 21.57 48.555 11.317 51.2-31.83 83.142-86.754 85.431-146.914 1.832-48.245-15.27-94.359-48.166-129.855m-78.105 302.51H114.316c-11.257 0-20.385 9.128-20.385 20.384 0 11.259 9.128 20.385 20.385 20.385H252.98c5.016 0 9.097 4.081 9.097 9.097 0 5.018-4.081 9.098-9.097 9.098H152.767c-27.461 0-49.797 22.338-49.797 49.788 0 27.463 22.336 49.798 49.797 49.798h90.349c11.256 0 20.384-9.128 20.384-20.384 0-11.258-9.128-20.385-20.384-20.385h-90.349c-4.977 0-9.028-4.051-9.028-9.029 0-4.977 4.051-9.017 9.028-9.017H252.98c27.502 0 49.866-22.366 49.866-49.869 0-27.5-22.364-49.866-49.866-49.866"></path>
  </symbol>
</svg>
  
  {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
  {{{body}}}

  {{!-- Search form --}}
  {{> search}}
  
  {{!-- The footer --}}
  {{> footer}}

  {{!-- Notifications alerts --}}
  {{> "notifications"}}

  {{!-- Common scripts shared between pages --}}
  <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver%2CPromise%2CArray.prototype.includes%2CString.prototype.endsWith%2CString.prototype.startsWith%2CObject.assign%2CNodeList.prototype.forEach"></script>
  {{!--

    anime.js v3.1.0
    (c) 2019 Julian Garnier
    Released under the MIT license
    animejs.com

    AOS v2.3.4
    The MIT License (MIT)
    Copyright (c) 2015 Michał Sajnóg

    css-vars-ponyfill v2.1.2
    https://jhildenbiddle.github.io/css-vars-ponyfill/
    (c) 2018-2019 John Hildenbiddle <http://hildenbiddle.com> * MIT license

    fitvids 2.0.0
    DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
    Copyright (C) 2015 Ross Zurowski <ross@rosszurowski.com>

    Fuse.js v3.4.5 - Lightweight fuzzy-search (http://fusejs.io)
    Copyright (c) 2012-2017 Kirollos Risk (http://kiro.me)
    All Rights Reserved. Apache Software License 2.0
    http://www.apache.org/licenses/LICENSE-2.0

    headroom.js v0.10.3 - Give your page some headroom. Hide your header until you need it
    Copyright (c) 2019 Nick Williams - http://wicky.nillia.ms/headroom.js
    License: MIT

    jQuery v3.4.1 | (c) JS Foundation and other contributors | jquery.org/license

    lozad.js - v1.14.0 - 2019-10-19
    https://github.com/ApoorvSaxena/lozad.js
    Copyright (c) 2019 Apoorv Saxena; Licensed MIT

    medium-zoom 1.0.4 | MIT License | https://github.com/francoischalifour/medium-zoom

    stickybits - Stickybits is a lightweight alternative to `position: sticky` polyfills
    version: v3.7.0
    link: https://github.com/dollarshaveclub/stickybits#readme
    author: Jeff Wainwright <yowainwright@gmail.com> (https://jeffry.in)
    license: MIT

    Swiper 5.2.0
    Most modern mobile touch slider and framework with hardware accelerated transitions
    http://swiperjs.com
    Copyright 2014-2019 Vladimir Kharlampidi
    Released under the MIT License
    Released on: October 26, 2019

    tippy.js v4.0.1
    MIT License
    Copyright (c) 2017 atomiks

    viewport-units-buggyfill v0.6.2
    web: https://github.com/rodneyrehm/viewport-units-buggyfill/
    author: Rodney Rehm - http://rodneyrehm.de/en/

    Ghost content-api
    MIT License
    Copyright (c) 2018-2019 Ghost Foundation

  --}}
  <script defer src="{{asset "js/vendor/content-api.min.js"}}"></script>
  <script defer src="{{asset "js/manifest.js"}}"></script>
  <script defer src="{{asset "js/vendor.js"}}"></script>
  <script defer src="{{asset "js/app.js"}}"></script>

  {{!-- The #block helper will pull in data from the #contentFor other template files --}}
  {{{block "scripts"}}}

  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}
</body>

</html>
